h1.mt-4 #{pageTitle}
if index
    ol.breadcrumb.mb-4
        li.breadcrumb-Item.active #{pageTitle}
else
    ol.breadcrumb.mb-4
        li.breadcrumb-Item
            a(href='index.html') Dashboard
        li.breadcrumb-Item.active #{pageTitle}
