<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OmniPro Pvt Ltd</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
    </head>
    <body class="sb-nav-fixed">
        {%include "header.html"%}

            <!-- <div id="layoutSidenav_content"> -->
                
                <main>
                   
                      
                   
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <!-- Left-side content (icon and titles) -->
                            <div class="d-flex align-items-center">
                               
                            </div>
                            <h2 style="color: #20B2AA; margin-left:300px ;">MANUFACTURED  SUPPLIERS</h2>

                            <!-- Right-side content (search form) -->
                            <div>
                                    <form method="GET" action="{{ url_for('mng_supp') }}">
                                        <label for="search">Search:</label>
                                        <input type="text" id="search" name="search" value="{{ search_query }}">
                                        <button type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                            <!-- <div class="card-body"> -->
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                
                                               
                                                <th scope="col">S.No</th>
                                                <th scope="col">Manufacturer Name</th>
                                                <th scope="col">Supplier Name</th>
                                                
                                                <th scope="col">Remarks</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for record in supp %}
                                            <tr>
                                                <td>{{ (page - 1) * per_page + loop.index }}</td>
                                                <td>{{ record[1] }}</td>
                                                <td>{{ record[2] }}</td>
                                                <td>{{ record[3] }}</td>
                                                <td>{{ record[4] }}</td>
                                               

                                                <td>
                                                    <a href="/update_supstock/{{record.0}}" class="btn btn-warning btn-sm"
                                                    data-toggle="modal" data-target="#modaledit{{record.0}}"
                                                    style="position: relative; display: inline-block; cursor: pointer;"
                                                    onmouseover="this.querySelector('.tooltiptext').style.visibility = 'visible'; this.querySelector('.tooltiptext').style.opacity = '1';"
                                                    onmouseout="this.querySelector('.tooltiptext').style.visibility = 'hidden'; this.querySelector('.tooltiptext').style.opacity = '0';">
                                                    <i class="fas fa-edit"></i>
                                                    <span class="tooltiptext" style="
                                                        visibility: hidden;
                                                        width: 100px;
                                                        background-color: black;
                                                        color: #fff;
                                                        text-align: center;
                                                        border-radius: 5px;
                                                        padding: 5px;
                                                        position: absolute;
                                                        z-index: 1;
                                                        bottom: 125%;
                                                        left: 50%;
                                                        margin-left: -50px;
                                                        opacity: 0;
                                                        transition: opacity 0.3s;
                                                    ">Edit</span>
                                                 </a>
                                                 
                                                 <!-- Delete Button -->
                                                 <a href="/delete_supstock/{{ record.0 }}" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-danger btn-sm"
                                                    style="position: relative; display: inline-block; cursor: pointer;"
                                                    onmouseover="this.querySelector('.tooltiptext').style.visibility = 'visible'; this.querySelector('.tooltiptext').style.opacity = '1';"
                                                    onmouseout="this.querySelector('.tooltiptext').style.visibility = 'hidden'; this.querySelector('.tooltiptext').style.opacity = '0';">
                                                    <i class="fas fa-trash-alt"></i>
                                                    <span class="tooltiptext" style="
                                                        visibility: hidden;
                                                        width: 100px;
                                                        background-color: black;
                                                        color: #fff;
                                                        text-align: center;
                                                        border-radius: 5px;
                                                        padding: 5px;
                                                        position: absolute;
                                                        z-index: 1;
                                                        bottom: 125%;
                                                        left: 50%;
                                                        margin-left: -50px;
                                                        opacity: 0;
                                                        transition: opacity 0.3s;
                                                    ">Delete</span>
                                                 </a>
                                                </td>
                                           </tr>

                                           <div id="modaledit{{ record[0] }}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Update Suppliers_Stock</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{{ url_for('update_supstock') }}" method="POST">
                                                            <input type="hidden" name="id" value="{{ record[0] }}">
                                                            <div class="form-group">
                                                                <label>Manufacturer Name</label>
                                                                <!-- <input type="text" class="form-control" name="manufacturer_name" value="{{ record[1] }}" > -->
                                                                <select class="form-control" id="manufacturer_name" name="manufacturer_name">
                                                                    {% for branch in customers %}
                                                                        <option value="{{ branch[1] }}" {% if branch[0] == record[2] %} selected {% endif %}>{{ branch[1] }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Supplier Name</label>
                                                                <input type="text" class="form-control" name="SupplierName" value="{{ record[2] }}" >
                                                            </div>
                                                            
                                                            
                                                            
                                                            
                                                            <div class="form-group">
                                                                <label>Remarks</label>
                                                                <input type="text" class="form-control" name="Remarks" value="{{ record[3] }}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Date</label>
                                                                <input type="date" class="form-control" name="date" value="{{ record[4] }}"  max={{max_date}} required>
                                                            </div>
                                                            
                                                            
                                                            <button type="submit" class="btn btn-primary">Update</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            {% endfor %}
                                            <!-- <tr>
                                                <td>2</td>
                                                
                                                <td>123-456-7890</td>
                                                <td>123-456-7890</td>
                                                <td>123-456-7890</td>
                                                
                                               
                                            </tr> -->
                                            
                                           
                                           
                                            
                                        </tbody>
                                    </table>
                                    <ul class="pagination" style="display: flex;justify-content: flex-end;padding: 20px;">
                                        {% if page > 1 %}
                                        <li><a href="{{ url_for('mng_supp', page=1, search=search_query) }}">First</a></li>
                                        <li><a href="{{ url_for('mng_supp', page=page-1, search=search_query) }}">Previous</a></li>
                                        {% endif %}
                                        {% for p in range(1, total_pages + 1) %}
                                        <li><a href="{{ url_for('mng_supp', page=p, search=search_query) }}">{{ p }}</a></li>
                                        {% endfor %}
                                        {% if page < total_pages %}
                                        <li><a href="{{ url_for('mng_supp', page=page+1, search=search_query) }}">Next</a></li>
                                        <li><a href="{{ url_for('mng_supp', page=total_pages, search=search_query) }}">Last</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            <!-- </div> -->
                        <!-- </div>
                    </div> -->
                   
                

                        </main>
              
           
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-Items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy;  OmniPro Pvt Ltd</div>
                    <div>
                        <!-- <a href="#">Privacy Policy</a>
                        &middot; -->
                        <a href="#">Aeries Soft Tech Solution </a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
        <script>
            $(document).ready(function() {
                // Set the active link on page load based on the current URL
                var currentPath = window.location.pathname;
                $('.sb-sidenav .nav-link').each(function() {
                    var linkPath = $(this).attr('href');
                    if (currentPath.indexOf(linkPath) !== -1) {
                        $(this).addClass('active');
                    }
                });
        
                // Update the active link on click
                $('.sb-sidenav .nav-link').on('click', function() {
                    $('.sb-sidenav .nav-link').removeClass('active');
                    $(this).addClass('active');
                });
            });
        </script>
    </body>
</html>
{% include "alert.html" %}
{% extends "uppercase.html"%}